.weather-fade {
  display: inline-block;
  transition: opacity 0.5s;
  opacity: 1;
  position: absolute;
  left: 0; right: 0; width: 100%;
}
.fade-in {
  opacity: 1;
  z-index: 2;
}
.fade-out {
  opacity: 0;
  z-index: 1;
} 